.grid-container {
    border: 1px solid red;
    display: grid;
    height: 500px;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 100px 80px;
    // grid-auto-flow: column;
    justify-content: center; // start
    align-content: center; // start

    justify-items: center;
    align-items: center;
}

.item {
    margin: 5px;
    border: 1px solid black;
}