* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    border: 1px solid green;
    height: 800px;
    // grid-template-columns: 1fr 200px;
    // grid-template-rows: 100px 1fr 50px 10%;
    grid-template-columns: minmax(100px, max-content);
    grid-template-areas:
    "header  sidebar"
    "nav     sidebar"
    "content none"
    "footer   footer";
    // grid-column-gap: 5px;
    // grid-row-gap: 10px;
    grid-gap: 10px;

}

.item {
    border: 1px solid red;
}

.footer {
    grid-area: footer;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}