.container {
	position: relative;
}
.container div {
	position: absolute;
	width: 200px;
	height: 200px;
}
.one {
	background-color: #2ecc71;
	z-index: 3;
	
}
.two {
	top: 100px;
	left: 100px;
	background-color: #f1c40f;
	z-index: 2;
	
}
.three {
	top: 200px;
	left: 200px;
	background-color: #34495e;
	z-index: 1;
	
}