body {
    margin: 0 auto;
    text-align: center;
}

.header {
    text-align: center;
    padding: 10px;
    background-color: gray
}


.content {
    padding: 0 50px;  
}

p {
    text-align: justify;
}